*{
    scroll-behavior: smooth;
}
.Banner{
    background-image: url("../../images/new1.png");
    background-size: cover;
    height:100vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Banner > h1{
    margin:1vmax;
    font:600 2.5vmax "Roboto", "Helvetica Neue",
}
.Banner >p{
    font:300 1.4vmax "Roboto"
}
.Banner > a > button{
    margin-bottom: 5vmax;
    size: 2vmax;
    cursor: pointer;
    background-color: transparent;
    border:1px rgba(144,144,144,255);
    border-radius: 20%;
    padding: 0.6vmax;
    transition: all 0.5s;
    width:3.6vmax;
    font:600 1vmax "Roboto", "Helvetica Neue";
    scroll-behavior: smooth;
}
.Banner > a > button:hover {
    background-color: rgba(255,255,255,0);
    color:white;
}
/* If you use default color banner */
.Banner::after{ 
    content:"";
    width:100vm;
    height:100vmin;
    background-color: #ffffff;
    position:absolute;
    top: 20px;
    left:0;
    max-width: 100%;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
}
.categorySection{
    background-color: white;
    height: 53vmax;
}
.categorySection>h2{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, gray, rgb(164, 161, 161), gray, rgb(164, 161, 161), gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.homeHeading{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.8vmax;
    border-bottom: 1px solid rgba(21,21,21,0.5);
    width: 20vmax;
    padding: 1vmax;
    margin:5vmax auto;
}
.container1{
    display: flex;
    margin:2vmax auto;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    animation: fadeIn 5s;
}
.container1 > h3{
     font-size: 32px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, gray, rgb(188, 185, 185), gray, rgb(187, 183, 183), gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.productCard{
    width:15vmax;
    height: 27vmax;
    display: flex;
    flex-direction:column;
    text-decoration: none;
    color:rgb(48,48,48);
    margin:1.9vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 200px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.productCard > div{
    display: flex;
    padding: 0.5vmax;
    justify-content: flex-start;
}
.productCard > div > span{
    margin:0.5vmax;
    padding-top: 0.2vmax;
    font: 400 1vmax Montserrat;
    color:tomato;
}
.productCard > p {
    font:500 1.1vmax Montserrat;
    margin:1vmax 0.5vmax;
    margin-bottom: 0;
    text-align: center;
}
.productCard > span{
    color: tomato;
    font:600 1.2vmax "Franklin", "Helvetica Neue";
    text-align: center;
}
.productCard:hover{
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.36);
    transform: translateY(1.3vmax);
}
@media screen and (max-width:600px){
    .productCard>p{
        font-size: 1.7vmax;
        display: flex;
        flex-direction: column;
    }
    .productCard{
        width: 200px;
        height: 300px;
        min-width: 200px;
        min-height: 200px;
    }
    .productCard > div {
        margin: 0vmax;
        display: flex;
        flex-direction: column;
    }
    .productCard > span{
        font-size: 1.5vmax;
    }
    .container1{
        display: flex;
        align-items: last baseline;
    }
    .productCard > div > span {
        margin: 0 0.5vmax;
        font:300 1vmax "Roboto"
    }
    .productCard > img {
       width: 180px;
       height: 180px;
       transition: none;
       display:inline-block;
       object-fit: fill;
    }
   .productCard>img:hover{
       transform: translateY(1.3vmax);
    }
}

.productCard > img {
  padding: 5px;
  transition: transform .2s;
  width: 200px;
  height: 220px;
  min-height: 220;
  min-width: 180px;
  object-fit: fill;
  border-radius: 10px;
}
.productDiv{
    display: flex;
}
.productCard > img:hover{
    padding: 2px;
    align-items: center;
    border-radius: 3px;
    background-color:whitesmoke;
    transform: scale(1.5);
}