footer {
    margin-top: 10vmax;
    padding:2vmax;
    background-color: black;
    color:whitesmoke;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}
.left > h4{
font-family: 600 1.5vmax Montserrat;
font-size: 1vmax;
}
.left > p {
    text-align: center;
    font-family:Rockwell;
}
.left > img {
    width:5vmax;
    margin:1vmax;
    cursor: pointer;
}
.mid{
    width:60%;
    text-align: center;
}
.mid > p {
    max-width: 60%;
    margin: 0.5vmax auto;
    font-size: 1vmax;
    font-family:  Rockwell;
}
.mid > img {
    width:150px;
    color:rgb(31, 4, 10);
}
.right{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right > h4{
    font-family: 600 1.5vmax Montserrat;
    font-size: 1.4vmax;
    text-decoration: underline;
}
.right > a{
    text-decoration: none;
    font-size: 1.3vmax;
    margin:0.5vmax
}
.right > a:hover{
    color: bisque;
}